<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>

  Username: <%= f.text_field :username %> <br>
  Email: <%= f.text_field :email %> <br>
  Password: <%= f.password_field :password %> <br>
  User type: <%= f.select :role, options_for_select([["Select One", ""], "Student", "Mentor", "Administrator"]) %> <br>
  <%= f.submit "Submit" %>

<% end %>