<span><%= @user.username %></span>  | <span><%= @user.role %></span>
<br><br>
<% if current_user.role == "admin" %>
<div class="list_all_users">
<h3>All registered users</h3>
<table>
  <tr>
    <th>User</th>
    <th>Role</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.username %></td>
      <td><%= user.role %></td>
      <td><%= link_to 'Delete', user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>


</div>

<div class="list_all_appointments">
<h3>All Appointments</h3>
<table>
  <tr>
    <th>Student</th>
    <th>Mentor</th>
    <th>Time</th>
  </tr>

  <% @all_appointments.each do |appt| %>
    <tr>
      <td><%= appt.student_id %></td>
      <td><%= appt.mentor_id %></td>
      <td><%= appt.appointment_time %></td>
    </tr>
  <% end %>
</table>
</div>
<div class="list_all_reviews">
<h3>All Reviews</h3>
<table>
  <tr>
    <th>Author</th>
    <th>Subject</th>
    <th>Stars</th>
    <th>Body</th>
    <th>Appointment ID</th>
  </tr>

  <% @reviews.each do |rev| %>
    <tr>
      <td><%= rev.author_id %></td>
      <td><%= rev.subject_id %></td>
      <td><%= rev.stars %></td>
      <td><%= rev.body %></td>
      <td><%= rev.appointment_id %></td>
    </tr>
  <% end %>
</table>
</div>
<% elsif current_user.role == "Student" || "Mentor"%>
  <div class="calender">
    <!-- calender goes here with mentor's booked appointments -->
    My upcoming appointments:
    <ul>
    <% @upcoming_appointments.each do |appoint|%>
    <li><a href="/appointments/<%=appoint.id%>">
    <%= appoint.appointment_time.strftime('%m/%d %H:%M') %>
    <% mentor = User.find(appoint.mentor_id) %>
    <%= mentor.username %>
      <% if appoint.student_id %>
      <% student = User.find(appoint.student_id) %>
        <%= student.username %></a></li>
      <% end %>
    <% end %></ul>
  </div>
  <div class="past_appointments_list">
    <!-- list of all past appointments without reviews -->
    My past appointments:
    <ul>
    <% @past_appointments.each do |appoint|%>
    <li><a href="/appointments/<%=appoint.id%>">
    <%= appoint.appointment_time %>
    <%= appoint.mentor_id %>
    <%= User.find(appoint.mentor_id).username %></a>
      <%= form_tag "/reviews/new", method: "get" do %>
        <%= submit_tag ("Leave a Review") %>
      <% end %>
    </li>
    <% end %></ul>



  </div>
  <div class="book_new_appointment">
    <!-- button/link to calender populated with open appointments-  :"/appointments" -->
  </div>

<% end %>