<h1>New reviews page</h1>

<%= form_tag("/reviews", method: "post") do %>
<%= hidden_field_tag("reviews[appointment_id]", "#{@appointments.id}") %>
<%= hidden_field_tag("review[author_id]", "#{@appointments.student_id}") %>
<%= hidden_field_tag("review[subject_id]", "#{@appointments.mentor_id}") %>
<%= text_field_tag("review[body]") %>
<%= label_tag(:body, "Text input for review") %> <br>
<%= number_field_tag("review[stars]") %>
<%= label_tag(:stars, "Number of Stars") %> <br>
<%= submit_tag("Submit Your Review") %>
<% end %>
