<!DOCTYPE html>
<html>
<head>
  <title>GifVault</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

# added these lines.
<% if current_user %>
  Signed in as <%= current_user.username %> | <%= link_to "Logout", '/sessions/delete' %>
<% else %>
  <%= link_to 'Login', '/sessions/new' %> | <%= link_to 'Signup', '/users/new' %>
<% end %>

<%= yield %>

</body>
</html>