<!DOCTYPE html>
<html>
<head>
  <title>APPointments</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
  <header>
    <h1 class="layout-header">The Appointment</h1>
    <div class="navbar navbar-default"> <% if current_user %>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Signed in as <%= current_user.username %></a></li>
        <li><%= link_to "My Profile", '/profile' %></li>
        <li><%= link_to "Book a New Appointment", '/appointments' %></li> 
        <li><%= link_to "Logout", '/logout' %></li> 
      </ul>
      <% else %>

      <ul class="nav navbar-nav">
        <li class="active"><a href="#">APP.</a></li>
        <li><%= link_to 'Login', '/login' %></li>
        <li><%= link_to 'Signup', '/signup' %></li> 
      </ul>
      <% end %>
    </div>
  </header>
  <%= yield %>
</body>
</html>
